.container {
    margin: 100px auto;
    padding: 5px;
    width: 500px;
    height: 600px;
}
.text-content {
    height: 200px;
    width: 480px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
}
/* !не забыть исправить автовыделение textarea! */
.input-text {
    height: 200px;
    width: 480px;
    padding: 10px;
    /*border: 1px solid black;*/
    resize: none;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
    text-decoration: underline;
}
.data {
    display: flex;
}
.time{
    margin: 0 0 10px 10px;
    width: 100px;
    height: 30px;
    border: 2px solid green;
}
.error {
    margin: 0 0 10px 10px;
    width: 100px;
    height: 30px;
    border: 2px solid red;
}
